<ul id="lists">
  <% @lists.each_with_index do |list, idx| %>
    <li <%= complete?(list) ? 'class="complete"' : '' %>>
      <a href="/lists/<%= idx %>">
        <h2><%= list[:name] %></h2>
        <p><%= "#{incompleted(list)} / #{list[:todos].size}" %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <div class="actions"><a href="/lists/new" class="add">New List</a></div>
<% end %>