<form action="/login" method="post">
  <dl>
    <dt>
      <label for="username">Enter your name to login:</label>
    </dt>
    <dd>
      <input name="username" placeholder="Username" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Login">
    <a href="/lists">Cancel</a>
  </fieldset>
</form>