<div id="todos">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <li><button class="check">Complete All</button></li>
      <li><a class="edit">Edit List</a></li>
    </ul>
  </header>

  <ul>
    <% @list[:todos].each do |todo| %>
      <li><h2><%= todo %></h2></li>
    <% end %>
  </ul>


<form action="/lists/<%= params[:number] %>" method="post">
<dl>
  <dt>
    <label for="todo_item">Enter a new todo item:</label>
  </dt>
  <dd>
    <input name="todo_item" placeholder="Todo text" type="text" value="">
  </dd>
</dl>
<fieldset class="actions">
  <input type="submit" value="Add">
</fieldset>
</form>
</div>